
@{
    ViewData["Title"] = "Dasboard";
}

<h2>Dasboard</h2>

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />


	<!-- Bootstrap core CSS     -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Animation library for notifications   -->
	<link href="assets/css/animate.min.css" rel="stylesheet" />

	<!--  Light Bootstrap Table core CSS    -->
	<link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />


	<!--  CSS for Demo Purpose, don't include it in your project     -->
	<link href="assets/css/demo.css" rel="stylesheet" />


	<!--     Fonts and icons     -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
	<link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>
	
		<div class="wrapper">
			<div class="sidebar" data-color="blue" data-image=">

			</div>
			<img src="~/images/sidebar-1.jpg" />"

			<!--

				Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
				Tip 2: you can also add an image using data-image tag

			-->

			<div class="sidebar-wrapper navbar-ct-blue">
				<div class="logo">

					Fahid Safdar
					</a>
				</div>

				<ul class="nav navbar-ct-blue">
					<li class="active">
						<a href="/Home/slider"><i class="pe-7s-home"></i><p>Home<span class="badge" id=""></span></p></a>
						</a>
					</li>
					<li>
						<a href="/Catagories/Index"><i class="pe-7s-portfolio"></i><p>Catagories<span class="badge" id="StudentCounter"></span></p></a>



					</li>
					<li>
						<a href="/Items/Index"><i class="pe-7s-note2"></i><p>Items<span class="badge" id="ItemsCount"></span></p></a>

					</li>
					<li>
						<a href="/Purchases/Index"><i class="pe-7s-news-paper"></i><p>Purchase<span class="badge" id="PurchaseCount"></span></p></a>

					</li>
					<li>
						<a href="/Sales/Index"><i class="pe-7s-cash"></i><p>Sales<span class="badge" id="SalesCount"></span></p></a>

					</li>
					<li>
						<a href="/Vender/Index"><i class="pe-7s-server"></i><p>Vender<span class="badge" id="VenderCount"></span></p></a>

					</li>
					<li>
						<a href="/Customers/Index"><i class="pe-7s-add-user"></i><p>Customers<span class="badge" id="CustomersCount"></span></p></a>

					</li>


				</ul>
			</div>
		</div>



		<h3 class="text-center">Counter Dashboard</h3>

		<div class="panel panel-danger col-md-3 col-md-offset-3 text-center" style="height:300px;">
			<div class=" col-md-12 bg-warning">
				<h5>Category</h5>
			</div>
			<div class="panel-body col-md-12">
				<span class="h2 text-info" id="PurchaseCounter"></span>
				<div class="col-md-12">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th colspan="2" class="bg-warning text-center">Last 3 Days Activity</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Category Added</td>
								<td><span class="badge" id="cateogyAdded">0</span></td>
							</tr>
							<tr>
								<td>Last Added Category</td>
								<td><span class="badge" id="lastAddedCategory">0</span></td>
							</tr>
							<tr>
								<td>Category Without Item</td>
								<td><span class="badge" id="categoryWithoutItem">0</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
			</div>
		</div>
		<div class="panel panel-danger col-md-3 col-md-offset-3 text-center col-xs-pull-2" style="height:300px;">
			<div class=" col-md-12 bg-warning">
				<h5>Items</h5>
			</div>
			<div class="panel-body col-md-12">
				<span class="h2 text-info" id="ItemCounter"></span>
				<div class="col-md-12">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th colspan="2" class="bg-warning text-center">Last 3 Days Activity</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Items Added</td>
								<td><span class="badge" id="productAdded"></span></td>
							</tr>
							<tr>
								<td>Last Added Items</td>
								<td><span class="badge" id="lastAddedProduct"></span></td>
							</tr>
							<tr>
								<td>Most Expensive Items</td>
								<td><span class="badge" id="mostExpensiveProduct"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
			</div>
		</div>
		<div class="panel panel-danger col-md-3 col-md-offset-3 text-center" style="height:300px;">
			<div class=" col-md-12 bg-warning">
				<h5>Sales</h5>
			</div>
			<div class="panel-body col-md-12">
				<span class="h2 text-info" id="ItemCounter"></span>
				<div class="col-md-12">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th colspan="2" class="bg-warning text-center">Last 3 Days Activity</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Total No of Sales</td>
								<td><span class="badge" id="totalNoOfSales"></span></td>
							</tr>
							<tr>
								<td>Maximum Single Sale</td>
								<td><span class="badge" id="maximumSingleSale"></span></td>
							</tr>
							<tr>
								<td>Minimum Single Sale</td>
								<td><span class="badge" id="minimumSingleSale"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
			</div>
		</div>
		<div class="panel panel-danger col-md-3 col-md-offset-3 text-center col-xs-pull-2" style="height:300px;">
			<div class=" col-md-12 bg-warning">
				<h5>Purchases</h5>
			</div>
			<div class="panel-body col-md-12">
				<span class="h2 text-info" id="ItemCounter"></span>
				<div class="col-md-12">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th colspan="2" class="bg-warning text-center">Last 3 Days Activity</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Total No Of Purchases</td>
								<td><span class="badge" id="totalNoOfPurchases"></span></td>
							</tr>
							<tr>
								<td>Maximum Single Purchase</td>
								<td><span class="badge" id="maximumSinglePurchase"></span></td>
							</tr>
							<tr>
								<td>Minimum Single Purchase</td>
								<td><span class="badge" id="minimumSinglePurchase"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>			
</body>
</html>
<footer>
</footer>

<!-- /#wrapper -->

@section Scripts
	{
	<script>
				$(function () {
					$('#StudentCounter').load('/UserProfiles/CatagoryCount');
					$('#ItemsCount').load('/UserProfiles/ItemsCount');
					$('#PurchaseCount').load('/UserProfiles/PurchaseCount');
					$('#SalesCount').load('/UserProfiles/SalesCount');
					$('#VenderCount').load('/UserProfiles/VenderCount');
					$('#CustomersCount').load('/UserProfiles/CustomerCount');
					
					$('#cateogyAdded').load('/UserProfiles/CategoryAdded');
					$('#lastAddedCategory').load('/UserProfiles/LastAddedCategory');
					$('#categoryWithoutItem').load('/UserProfiles/CategoryWithoutItem');

					$('#productAdded').load('/UserProfiles/ProductAdded');
					$('#lastAddedProduct').load('/UserProfiles/LastAddedProduct');
					$('#mostExpensiveProducts').load('/UserProfiles/MostExpensiveProducts');

					$('#totalNoOfSales').load('/UserProfiles/TotalNoOfSales');
					$('#maximumSingleSale').load('/UserProfiles/MaximumSingleSale');
					$('#minimumSingleSale').load('/UserProfiles/MinimumSingleSale');

					$('#totalNoofPurchases').load('/UserProfiles/TotalNoOfPurchases');
					$('#minimumSinglePurchase').load('/UserProfiles/MinimumSinglePurchase');
					$('#maximumSinglePurchase').load('/UserProfiles/MaximumSinglePurchase');


				});
	</script>
<script type="text/javascript">
			$(document).ready(function () {

				demo.initChartist();

				$.notify({
					icon: 'pe-7s-gift',
					message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

				}, {
						type: 'info',
						timer: 4000
					});

			});
</script>
}


