
@{
    ViewData["Title"] = "Dasboard";
}

<h2>Dasboard</h2>

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />


	<!-- Bootstrap core CSS     -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Animation library for notifications   -->
	<link href="assets/css/animate.min.css" rel="stylesheet" />

	<!--  Light Bootstrap Table core CSS    -->
	<link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />


	<!--  CSS for Demo Purpose, don't include it in your project     -->
	<link href="assets/css/demo.css" rel="stylesheet" />


	<!--     Fonts and icons     -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
	<link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

	<div class="wrapper">
		<div class="sidebar" data-color="blue" data-image=">

		</div>
		<img src="~/images/sidebar-1.jpg" />"
		
			<!--

				Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
				Tip 2: you can also add an image using data-image tag

			-->

			<div class="sidebar-wrapper navbar-ct-blue">
				<div class="logo">

						Fahid Safdar
					</a>
				</div>

				<ul class="nav navbar-ct-blue">
					<li class="active">
						<a href="/Home/slider"><i class="pe-7s-home"></i><p>Home<span class="badge" id=""></span></p></a>
						</a>
					</li>
					<li>
						<a href="/Catagories/Index"><i class="pe-7s-portfolio"></i><p>Catagories<span class="badge" id="StudentCounter"></span></p></a>



					</li>
					<li>
						<a href="/Items/Index"><i class="pe-7s-note2"></i><p>Items<span class="badge" id="ItemsCount"></span></p></a>



					</li>
					<li>
						<a href="/Purchases/Index"><i class="pe-7s-news-paper"></i><p>Purchase<span class="badge" id="PurchaseCount"></span></p></a>



					</li>
					<li>
						<a href="/Sales/Index"><i class="pe-7s-cash"></i><p>Sales<span class="badge" id="SalesCount"></span></p></a>

					</li>
					<li>
						<a href="/Vender/Index"><i class="pe-7s-server"></i><p>Vender<span class="badge" id="VenderCount"></span></p></a>
						</a>
					</li>
					<li>
						<a href="/Customers/Index"><i class="pe-7s-add-user"></i><p>Customers<span class="badge" id="CustomersCount"></span></p></a>
						</a>
						</a>
					</li>
					<li class="active-pro">
						<a href="upgrade.html">
							<i class="pe-7s-rocket"></i>
							<p>Upgrade to PRO</p>
						</a>
					</li>
					
				</ul>
			</div>
		</div>

	<div class="main-panel">



		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<div class="background-primary padding text-center">
								<a href="/"><i class="icon-facebook_circle icon2x text-white"></i></a>
								<a href="/"><i class="icon-twitter_circle icon2x text-white"></i></a>
								<a href="/"><i class="icon-google_plus_circle icon2x text-white"></i></a>
								<a href="/"><i class="icon-instagram_circle icon2x text-white"></i></a>
							</div>

							<div class="header">
								<h4 class="title">Purchase History</h4>
								<p class="category">Last Campaign Performance</p>
							</div>
							<div class="content">
								<div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

								<div class="footer">
									<div class="legend">
										<i class="fa fa-circle text-info"></i> Open
										<i class="fa fa-circle text-danger"></i> Bounce
										<i class="fa fa-circle text-warning"></i> Unsubscribe
									</div>
									<hr>
									<div class="stats">
										<i class="fa fa-clock-o"></i> Campaign sent 2 days ago
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-8">
						<div class="card">
							<div class="header">
								<h4 class="title">Sales History</h4>
								<p class="category">24 Hours performance</p>
							</div>
							<div class="content">
								<div id="chartHours" class="ct-chart"></div>
								<div class="footer">
									<div class="legend">
										<i class="fa fa-circle text-info"></i> Open
										<i class="fa fa-circle text-danger"></i> Click
										<i class="fa fa-circle text-warning"></i> Click Second Time
									</div>
									<hr>
									<div class="stats">
										<i class="fa fa-history"></i> Updated 3 minutes ago
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container-fluid">
				<nav class="pull-left">
					<ul>
						<li>
							<a href="#">
								Home
							</a>
						</li>
						<li>
							<a href="#">
							Catagories
							</a>
						</li>
						<li>
							<a href="#">
							Items
							</a>
						</li>
						<li>
							<a href="#">
								Purchase
							</a>
						</li>
					</ul>
				</nav>
				<p class="copyright pull-right">
					&copy;
					<script>document.write(new Date().getFullYear())</script> <a href="Fahidsafdar.me">Fahid Safdar</a>, made with love for a better web
				</p>
			</div>
		</footer>

</body>





</html>
<footer>
</footer>

<!-- /#wrapper -->

@section Scripts
	{
	<script>
				$(function () {
					$('#StudentCounter').load('/UserProfiles/CatagoryCount');
					$('#ItemsCount').load('/UserProfiles/ItemsCount');
					$('#PurchaseCount').load('/UserProfiles/PurchaseCount');
					$('#SalesCount').load('/UserProfiles/SalesCount');
					$('#VenderCount').load('/UserProfiles/VenderCount');
					$('#CustomersCount').load('/UserProfiles/CustomerCount');

				});
	</script>
<script type="text/javascript">
			$(document).ready(function () {

				demo.initChartist();

				$.notify({
					icon: 'pe-7s-gift',
					message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

				}, {
						type: 'info',
						timer: 4000
					});

			});
</script>
}


