<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MobileShop_</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link href="~/datatable/jquery.dataTables.min.css" rel="stylesheet" />
		<link href="~/JQuaryUI/jquery-ui.css" rel="stylesheet" />

		<link href="~/datatable/buttons.dataTables.min.css" rel="stylesheet" />
		
		<link href="~/light-bootstrap-dashboard-master/assets/css/animate.min.css" rel="stylesheet" />
		<link href="~/light-bootstrap-dashboard-master/assets/css/demo.css" rel="stylesheet" />
		<link href="~/light-bootstrap-dashboard-master/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
		<link href="~/light-bootstrap-dashboard-master/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/resources/demos/style.css">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body class=" visible-lg">

	<nav class="navbar navbar-fixed-top navbar-ct-blue">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-area="" asp-controller="Home" asp-action="slider" class="navbar-brand">MobileShop</a>

			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/UserProfiles/Dasboard"><i class="pe-7s-global"></i>Dashboard</a></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-portfolio"></i>Catagories<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Catagories/Create">Add New Catagory</a></li>
							<li><a href="/Catagories/Index">View</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-note2"></i>Items<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Items/Create">Add New Items</a></li>
							<li><a href="/Items/Index">View</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-news-paper"></i>Purchase<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Purchases/Create">Add New Purchase</a></li>
							<li><a href="/Purchases/Index">View</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-cash"></i>Sales<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Sales/Create">Add New Sales</a></li>
							<li><a href="/Sales/Index">View</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-server"></i>Vender<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Venders/Create">Add New Catagory</a></li>
							<li><a href="/Venders/Index">View</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-add-user"></i>Customer<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/Customers/Create">Add New Customer</a></li>
							<li><a href="/Customers/Index">View</a></li>

						</ul>
					</li>
					
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
						<ul class="dropdown-menu">
							<li><a href="/UserProfiles/Create">Register</a></li>
							<li><a href="/UserProfiles/checklogin">Login</a></li>
							

						</ul>
					</li>
					
				</ul>
				
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
		<hr />
	
		<div class="col-md-12 bg-success  text-center navbar-fixed-bottom " style="background-color: Highlight aquamarine">
			<footer>

				<p>Final Assessment Task Assigned by <a class="text-warning" href="http://thetasolutions.co.uk/" target="_blank">Theta Solutions</a> and fully completed by <a class="text-warning" target="_blank" href="http:Fahidsafdar.me/">Fahid Safdar</a> <br /> (Sep 2017 Batch, ASP.NET CORE MVC6)</p>
			</footer>
		</div>

	</div>

	<environment include="Development">
		<script src="~/datatable/buttons.print.min.js"></script>
		<script src="~/datatable/jquery-1.12.4.js"></script>
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/datatable/jquery.dataTables.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>

	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>

@section Scripts {
<script type="text/javascript">
function add_chatinline() { var hccid = 92588902; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
	add_chatinline(); </script>
}