<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="~/light-bootstrap-dashboard-master/assets/css/animate.min.css" rel="stylesheet" />
	<link href="~/light-bootstrap-dashboard-master/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/light-bootstrap-dashboard-master/assets/css/demo.css" rel="stylesheet" />
	<link href="~/light-bootstrap-dashboard-master/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
	<link href="~/light-bootstrap-dashboard-master/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
	<link href="~/slidere/style.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&subset=latin-ext,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />
</head>

<body class=" visible-lg">

	<nav class="navbar navbar-inverse navbar-fixed-top navbar-ct-blue">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-area="" asp-controller="Home" asp-action="slider" class="navbar-brand">MobileShop</a>
			</div>
			<div class="navbar-collapse collapse">
				<nav class="navbar navbar-fixed-top navbar-ct-blue">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a asp-area="" asp-controller="Home" asp-action="slider" class="navbar-brand">MobileShop</a>

						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="/UserProfiles/Dasboard"><i class="pe-7s-global"></i>Dashboard</a></li>
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-portfolio"></i>Catagories<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/Catagories/Create">Add New Catagory</a></li>
										<li><a href="/Catagories/Index">View</a></li>

									</ul>
								</li>
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-note2"></i>Items<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/Items/Create">Add New Items</a></li>
										<li><a href="/Items/Index">View</a></li>

									</ul>
								</li>
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-news-paper"></i>Purchase<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/Purchases/Create">Add New Purchase</a></li>
										<li><a href="/Purchases/Index">View</a></li>

									</ul>
								</li>
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-cash"></i>Sales<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/Sales/Create">Add New Sales</a></li>
										<li><a href="/Sales/Index">View</a></li>

									</ul>
								</li>
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-server"></i>Vender<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/Venders/Create">Add New Catagory</a></li>
										<li><a href="/Venders/Index">View</a></li>

									</ul>
								</li>
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="pe-7s-add-user"></i>Customer<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/Customers/Create">Add New Customer</a></li>
										<li><a href="/Customers/Index">View</a></li>

									</ul>
								</li>

								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
									<ul class="dropdown-menu">
										<li><a href="/UserProfiles/Create">Register</a></li>
										<li><a href="/UserProfiles/checklogin">Login</a></li>


									</ul>
								</li>

							</ul>

						</div>
					</div>
				</nav>
				
			</div>
		</div>
	</nav>
	<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
		<!-- Overlay -->
		<div class=""></div>
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#bs-carousel" data-slide-to="1"></li>
			<li data-target="#bs-carousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item slides active">
				<div class="slide-1"></div>
				<div class="hero">
					<hgroup>
						<h1>We are creative</h1>
						<h3>Get start your next awesome project</h3>
					</hgroup>
					<button class="btn btn-hero btn-lg" role="button">See all features</button>
				</div>
			</div>
			<div class="item slides">
				<div class="slide-2"></div>
				<div class="hero">
					<hgroup>
						<h1>We are smart</h1>
						<h3>Get start your next awesome project</h3>
					</hgroup>
					<button class="btn btn-hero btn-lg" role="button">See all features</button>
				</div>
			</div>
			<div class="item slides">
				<div class="slide-3"></div>
				<div class="hero">
					<hgroup>
						<h1>We are amazing</h1>
						<h3>Get start your next awesome project</h3>
					</hgroup>
					<button class="btn btn-hero btn-lg" role="button">See all features</button>
				</div>
			</div>
		</div>
	</div>
	<section style="background:#efefe9;">
		<div class="container">
			<div class="row">
				<div class="board">
					<!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
					<div class="board-inner">
						<ul class="nav nav-tabs" id="myTab">
							<div class="liner"></div>
							<li class="active">
								<a href="#home" data-toggle="tab" title="welcome">
									<span class="round-tabs one">
										<i class="glyphicon glyphicon-home"></i>
									</span>
								</a>
							</li>
							<li>
								<a href="#profile" data-toggle="tab" title="profile">
									<span class="round-tabs two">
										<i class="glyphicon glyphicon-user"></i>
									</span>
								</a>
							</li>
							<li>
								<a href="#messages" data-toggle="tab" title="bootsnipp goodies">
									<span class="round-tabs three">
										<i class="glyphicon glyphicon-gift"></i>
									</span>
								</a>
							</li>
							<li>
								<a href="#settings" data-toggle="tab" title="blah blah">
									<span class="round-tabs four">
										<i class="glyphicon glyphicon-comment"></i>
									</span>
								</a>
							</li>
							<li>
								<a href="#doner" data-toggle="tab" title="completed">
									<span class="round-tabs five">
										<i class="glyphicon glyphicon-ok"></i>
									</span>
								</a>
							</li>

						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="home">
							<h3 class="head text-center">Welcome to Bootsnipp<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
							<p class="narrow text-center">
								Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
							</p>

							<p class="text-center">
								<a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
							</p>
						</div>
						<div class="tab-pane fade" id="profile">
							<h3 class="head text-center">Create a Bootsnipp<sup>™</sup> Profile</h3>
							<p class="narrow text-center">
								Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
							</p>

							<p class="text-center">
								<a href="" class="btn btn-success btn-outline-rounded green"> create your profile <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
							</p>

						</div>
						<div class="tab-pane fade" id="messages">
							<h3 class="head text-center">Bootsnipp goodies</h3>
							<p class="narrow text-center">
								Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
							</p>

							<p class="text-center">
								<a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
							</p>
						</div>
						<div class="tab-pane fade" id="settings">
							<h3 class="head text-center">Drop comments!</h3>
							<p class="narrow text-center">
								Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
							</p>

							<p class="text-center">
								<a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
							</p>
						</div>
						<div class="tab-pane fade" id="doner">
							<div class="text-center">
								<i class="img-intro icon-checkmark-circle"></i>
							</div>
							<h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span> Bootstrap</h3>
							<p class="narrow text-center">
								Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2017 - MobileShop_</p>
		</footer>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>

</html>
@section Scripts
{

<script src="~/slidere/js/jssor.slider-26.8.0.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

}